<template name="blogSubmit">
    <form class="main form page">
        <div class="form-group">
          <label class="control-label" for="url">Titre</label>
          <div class="controls">
              <input name="title" id="title" type="text" value="" placeholder="Votre titre" class="form-control"/>
            </div>
        </div>
      <div class="form-group">
          <label class="control-label" for="title">Contenu</label>
          <div class="controls">
              <input name="text" id="text" type="text" value="" placeholder="Nommez votre article" class="form-control"/>
            </div>
        </div>
      <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>