<template name="postBlogSubmit">
    <div class="module__header__bottom"><h2>Créer un article <span>Blog</span></h2></div>
      <form class="post-form">
        <div class="module__wrapper">
          <div>
            <label for="date">Date</label>
            <input name="date" id="date" type="text" value=""/>
          </div>
          <div>
              <label for="title">Title</label>
              <input name="title" id="title" type="text" value="" required/>
          </div>
          <div>
              <label for="text">Contenu</label>
              <textarea name="text" id="text" cols="60" rows="5" required></textarea>
          </div>
          <div>
            <label for="image1">URL de l'image 1</label>
            <input name="image1" id="image1" type="text" value=""/>
          </div>
          <div>
            <label for="image2">URL de l'image 2</label>
            <input name="image2" id="image2" type="text" value=""/>
          </div>
          <div>
            <label for="image3">URL de l'image 3</label>
            <input name="image3" id="image3" type="text" value=""/>
          </div>
          <div>
            <label for="image4">URL de l'image 4</label>
            <input name="image4" id="image4" type="text" value=""/>
          </div>
        </div>
        <input type="submit" value="Envoyer" id="submit"/>
      </form>
</template>