<template name="home">
  <div class="module__header__bottom"><h2 class="title-current">arketype <span>corporation</span></h2></div>
  <!-- ####### R E S U M E ####### -->
  <div class="content__module__resume">
    <div class="module__wrapper"><h2>Qui sommes-nous ?</h2>
            <span class="slogan"></span>
            <p>Nous sommes en 2 500. L’équipe Arkétype Corporation est une équipe d’experts archéologues basée sur le centre A-25 Skyway, situé sur en Antartique . Nous préparons depuis plusieurs mois une expédition pour partir à l’aventure et acquérir des connaissances sur le monde des Anciens. <br><br>La situation environnementale, développée depuis plusieurs années, nous a coupé du monde des années 2000, ne nous permettant d’avoir aucune information sur leur mode de vie. Nos recherches sont basées essentiellement sur ces années-là puisque nous avons réussi à déterminer que c’est à partir des années 2010 que le climat a commencé à connaître un changement majeur... <a href="/posts/DFZ7bq9rXxKDD5C8S">En savoir plus</a>
            </p></div>
  </div>
  {{> home_video}}
  {{> home_news}}
  {{> home_objects}}
</template>