<template name="home_video">
	<!-- ####### V I D E O ####### -->
	<div class="content__movie clearfix">
    <div class="module__header__bottom"><h2>Vidéos <span>videos</span></h2></div>
	  <div class="content__movie__thumb">
	  	<a href="#" class="modal-link" data-video="https://www.youtube.com/embed/jfXCtfZjH2s" style="background-image:url(http://image.noelshack.com/fichiers/2016/10/1457876948-lancement.png);height: 75px;">
		</a>
	    <p>Lancement de l'expédition</p>
	  </div>
	  <div class="content__movie__thumb">
	  	<a href="#" class="modal-link" data-video="https://www.youtube.com/embed/HlwiL-yp-AQ" style="background-image:url(http://image.noelshack.com/fichiers/2016/13/1459445953-sans-titre-1.jpg);height: 75px;">
		</a>
	    <p>La chef d'expédition donne des nouvelles</p>
	  </div>
	  <div class="content__movie__thumb">
	  	<a href="#" class="modal-link" data-video="https://www.youtube.com/embed/Lxxaj-q0JVg" style="background-image:url(http://image.noelshack.com/fichiers/2016/15/1460815522-capture-d-ecran-2016-04-16-a-16-03-59.png);height: 75px;">
		</a>
	    <p>Présentation de la topographe</p>
	  </div>
	  <div class="content__movie__thumb">
	  	<a href="#" class="modal-link" data-video="https://www.youtube.com/embed/dscLp9tc4l0" style="background-image:url(http://image.noelshack.com/fichiers/2016/18/1462537207-sans-titre-1.jpg);height: 75px;">
		</a>
	    <p>Rencontre avec Nukin Hatt</p>
	  </div>
	  <div class="content__movie__thumb lock">
	    <div class="content__movie__thumb__cover">
	      <img src="http://www.vetprofessionals.com/catprofessional/images/home-cat.jpg" alt="" style="opacity:0">
	    </div>
	    <p>Vérrouillé</p>
	  </div>
	  <div class="content__movie__thumb lock">
	    <div class="content__movie__thumb__cover">
	      <img src="http://www.vetprofessionals.com/catprofessional/images/home-cat.jpg" alt="" style="opacity:0">
	    </div>
	    <p>Vérrouillé</p>
	  </div>
	</div>
</template>