<template name="home_video">
	<!-- ####### V I D E O ####### -->
	<div class="content__movie clearfix">
    <div class="module__header__bottom"><h2>Vidéos <span>videos</span></h2></div>
	  <div class="content__movie__thumb">
	  	<a href="#" class="modal-link" data-video="https://www.youtube.com/embed/jfXCtfZjH2s" style="background-image:url(http://image.noelshack.com/fichiers/2016/10/1457876948-lancement.png);height: 75px;">
		</a>
	    <p>Lancement de l'expédition</p>
	  </div>
	  <div class="content__movie__thumb lock">
	    <div class="content__movie__thumb__cover">
	      <img src="http://www.vetprofessionals.com/catprofessional/images/home-cat.jpg" alt="" style="opacity:0">
	    </div>
	    <p>Vérrouillé</p>
	  </div>
	  <div class="content__movie__thumb lock">
	    <div class="content__movie__thumb__cover">
	      <img src="http://www.vetprofessionals.com/catprofessional/images/home-cat.jpg" alt="" style="opacity:0">
	    </div>
	    <p>Vérrouillé</p>
	  </div>
	  <div class="content__movie__thumb lock">
	    <div class="content__movie__thumb__cover">
	      <img src="http://www.vetprofessionals.com/catprofessional/images/home-cat.jpg" alt="" style="opacity:0">
	    </div>
	    <p>Vérrouillé</p>
	  </div>
	  <div class="content__movie__thumb lock">
	    <div class="content__movie__thumb__cover">
	      <img src="http://www.vetprofessionals.com/catprofessional/images/home-cat.jpg" alt="" style="opacity:0">
	    </div>
	    <p>Vérrouillé</p>
	  </div>
	  <div class="content__movie__thumb lock">
	    <div class="content__movie__thumb__cover">
	      <img src="http://www.vetprofessionals.com/catprofessional/images/home-cat.jpg" alt="" style="opacity:0">
	    </div>
	    <p>Vérrouillé</p>
	  </div>
	</div>
</template>