<template name="home">
  <div class="module__header__bottom"><h2>arketype <span>corporation</span></h2></div>
  <!-- ####### R E S U M E ####### -->
  <div class="content__module__resume">
    <div class="module__wrapper"><h2>Qui somme-nous ?</h2>
            <span class="slogan"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, deserunt odit. Aliquid excepturi deleniti id hic, magnam dolore cumque, soluta at voluptatibus, error officia dolorem modi eos placeat itaque iusto.<br/><br/>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ipsum vitae, doloremque, quaerat distinctio dolore alias, sed rerum molestias harum iusto laudantium soluta corporis ex expedita unde, aperiam quasi. Autem.
            </p></div>
  </div>
  {{> home_video}}
  {{> home_news}}
  {{> home_objects}}
</template>